*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-webit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.img_responsive{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.clr{
	clear: both;
	display: table;
}

a{
  color: #fff;
  text-decoration: none;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li{
	display: inline-block;
	position: relative;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #333;
}

header .logo{
  float: left;
  width: 40%;
}

header .top_nav{
  float: right;
  width: 60%;
  text-align: right;
}

header .top_nav ul li a {
  padding: 0 20px;
}